@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --dark-background-color: #1f2937;
  --button-color: #3882f6;
  --quote-background-color: #e5e7eb;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
